################################################################################
#
#   Files for git to ignore
#
################################################################################

# Compiled documentation
documentation/build/*

# Compiled libraries
*.a
*.so
*.lib
*.pyd

# Temporary build files
build/*
dassl/_dassl-f2pywrappers.f
dassl/_dasslmodule.c
daspk/_daspk-f2pywrappers.f
daspk/_daspkmodule.c
daskr/_daskr-f2pywrappers.f
daskr/_daskrmodule.c

# Python bytecode
*.pyc

# make.inc (this file may vary significantly from platform to platform)
make.inc

# Eclipse project files
.project
.pydevproject
.settings/*
